<h1 id=flashbackTitle> {{ title }}</h1>
<h1 id=flashbackSubtitle> {{ message }}</h1>



<div id="profileButtonCont">
    <a href="/getAdult" class="get-posts profileButtons">Adult Mode</a>
</div>

<div id="profileButtonCont">
    <a href="/getKid" class="get-posts profileButtons">Kids Mode</a>
</div>



